*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

body{
    background-color:rgb(240, 215, 216);
    font-family:Roboto ;
}

header{
    margin: 4%;
    color: blue;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:5%;
    color:black;
}

.cuadrados{
    text-align: center;
    margin:5%;
    padding:3%;
    background-color:white;
    border-radius: 15%;
    padding-bottom: 10%;
}

a{
    background-color: blue;
    color: white;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

img{
    margin: 2%;
}
  
@media only screen and (min-width: 601px) and (max-width: 800px) {
    header {
      font-size: 140%;
    }

    main{
        gap:2%;
    }

    .cuadrados{
        margin-left: 15%;
        margin-right: 15%;
        font-size:120%;

        p{
            margin: 2%;
        }
    }
  }

  
  
  